In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [26]:
df_census_initial = pd.read_csv("./data_sets/NC_censusData.csv")
df_sites = pd.read_csv("./data_sets/NC_testSites.csv")

In [11]:
df_census_initial.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,37,1,North Carolina,Alamance County,1,0,151131,71890,79241,...,7202,6823,566,580,962,912,101,94,26,41
1,50,37,1,North Carolina,Alamance County,1,1,9524,4846,4678,...,961,941,96,109,116,141,20,19,3,7
2,50,37,1,North Carolina,Alamance County,1,2,9889,5126,4763,...,897,859,84,71,122,130,14,14,1,3
3,50,37,1,North Carolina,Alamance County,1,3,10008,5078,4930,...,726,725,52,60,119,89,7,8,2,3
4,50,37,1,North Carolina,Alamance County,1,4,11100,5412,5688,...,581,596,44,44,80,81,7,5,3,4

In [12]:
df_census = df_census_initial[(df_census_initial.YEAR==4) & (df_census_initial.AGEGRP==0)]
df_pop = df_census[['CTYNAME', 'TOT_POP']]
df_pop = df_pop.sort_values(by=['CTYNAME'])
df_pop.CTYNAME = df_pop.CTYNAME.map(lambda x: x.rstrip(' County'))
df_pop

            CTYNAME  TOT_POP
57         Alamance   152692
285       Alexander    37026
513         Allegha    11016
741             Ans    26512
969            Ashe    26986
1197           Aver    17770
1425        Beaufor    47675
1653         Bertie    20858
1881          Blade    34880
2109      Brunswick   110185
2337       Buncombe   241172
2565          Burke    90542
2793       Cabarrus   181175
3021       Caldwell    82451
3249          Camde    10024
3477        Cartere    67418
3705        Caswell    23456
3933        Catawba   154459
4161        Chatham    64109
4389       Cherokee    27180
4617          Chowa    14807
4845            Cla    10686
5073      Cleveland    97442
5301       Columbus    57705
5529          Crave   104831
5757     Cumberland   330503
5985      Currituck    23906
6213           Dare    34156
6441         Davids   162923
6669          Davie    41335
...             ...      ...
16017        Pender    53175
16245    Perquimans    13498
16473          Pers    39520
16701            Pi   170791
16929          Polk    20288
17157      Randolph   141858
17385      Richmond    46651
17613         Robes   135183
17841    Rockingham    93284
18069          Rowa   137805
18297    Rutherford    67416
18525         Samps    63514
18753      Scotland    36275
18981         Stanl    60530
19209        Stokes    47142
19437          Surr    73496
19665          Swai    14007
19893  Transylvania    32807
20121       Tyrrell     4337
20349           Uni   204888
20577         Vance    45288
20805          Wake   928787
21033         Warre    20998
21261       Washing    12904
21489       Watauga    51626
21717         Wayne   124038
21945        Wilkes    68948
22173          Wils    81155
22401         Yadki    38342
22629         Yance    17690

[100 rows x 2 columns]

In [27]:
df_sites.head()

,Unnamed: 0,name,fulladdr,municipality,agency,agencytype,phone,agencyurl,operhours,Instructions,...,appt_only,referral_required,services_offered_onsite,call_first,virtual_screening,health_dept_url,State,county,type_of_test,facility_type
0,200,Novant Health Screening Center,"111 Gateway Center Drive, Kernersville, NC 27284",Forsyth County,Novant Health,Non Profit,1-877-499-1697,https://www.novanthealth.org/healthy-headlines...,8am - 5pm M-F,People who have no symptoms will not be tested...,...,Yes,Yes,screening and testing,Yes,Available,https://www.ncdhhs.gov/,NC,Forsyth,molecular,Clinic
1,206,Novant Health Screening Center,"600 Highland Oaks Drive, Winston-Salem, NC 27103",Forsyth County,Novant Health,Non Profit,1-877-499-1697,https://www.novanthealth.org/healthy-headlines...,8am - 5pm M-F,People who have no symptoms will not be tested...,...,Yes,Yes,screening and testing,Yes,NaN,https://www.ncdhhs.gov/,NC,Forsyth,molecular,Clinic
2,218,Temporary Respiratory Symptom Clinic,"1814 Westchester Dr., Suite 202, High Point",Guilford County,Wake Forest Baptist Health,Non Profit,336-702-6843,https://www.wakehealth.edu/Coronavirus/Updates...,"8am - 5pm M-F by appointment only, 1pm - 5pm S...",While patients can be assessed at these locati...,...,Yes,Yes,NaN,Yes,NaN,https://www.ncdhhs.gov/,NC,Guilford,molecular,Clinic
3,309,NextCare Urgent Care: Burlington,"1713 South Church Street, Burlington, NC 27215",Burlington,"NextCare Holdings, Inc",Private,336-222-8888,https://nextcare.com/curbside/,Monday: 8:00AM - 8:00PM Tuesday: 8:00AM - ...,Only individuals meeting certain symptom crite...,...,Yes,No,screening and testing,Yes,Available,https://www.ncdhhs.gov/,NC,Alamance,molecular and antibody,Urgent Care
4,392,Thomasville Screening Center,"903 Randolph St, Thomasville, NC 27360",Thomasville,Novant Health,Regional,877-966-8268,https://coronavirus.novanthealth.org/,"Monday to Friday, 8 a.m. to 5 p.m",Novant Health GoHealth Urgent Care locations a...,...,Yes,Yes,screening and testing,Yes,Available,https://www.co.davidson.nc.us/200/Health,NC,Davidson,molecular,Non-medical Facility

In [28]:
df_sites_nc = df_sites[df_sites.State == 'NC']
df_sites_nc.county.isnull().sum()

4

In [20]:
dict_site = {}
for c in df_sites_nc.county:
    if c in dict_site:
    
        dict_site[c] = dict_site[c] + 1
    else:
        dict_site[c] = 1

df_site_count = pd.DataFrame.from_dict({"County":list(dict_site.keys()), "Site Count":list(dict_site.values())})
df_site_count = df_site_count.sort_values(by=['County'])
df_site_count

          County  Site Count
2       Alamance           6
40     Alexander           2
41     Alleghany           1
42          Ashe           1
39      Beaufort           5
43        Bertie           1
44        Bladen           4
17     Brunswick          13
16      Buncombe          18
45         Burke           3
20      Cabarrus           8
83      Caldwell           1
46        Camden           1
47      Carteret           6
48       Caswell           2
35       Catawba           6
49       Chatham           2
13      Cherokee           3
50        Chowan           1
80     Cleveland           1
23      Columbus           3
12        Craven           3
25    Cumberland          29
51     Currituck           1
52          Dare           3
3       Davidson           4
53         Davie           1
82        Duplin          12
7         Durham          12
54     Edgecombe           6
..           ...         ...
69    Pasquotank           1
85        Pender           2
70    Perquimans           1
71        Person           6
32          Pitt          15
29          Polk           1
15      Randolph           8
6       Richmond           3
72       Robeson          18
73    Rockingham           2
34         Rowan           3
89    Rutherford           4
84       Sampson           3
74        Stanly           1
75        Stokes           1
78         Surry           4
18         Swain           1
27  Transylvania           1
95       Tyrrell           1
79         Union           2
33         Vance           2
4           Wake          50
94    Washington           1
81       Watauga           2
36         Wayne           5
76        Wilkes           2
11        Wilson           5
77        Yadkin           3
28        Yancey           3
92           NaN           2

[96 rows x 2 columns]

In [8]:
df_pop.CTYNAME

57           Alamance
285         Alexander
513           Allegha
741               Ans
969              Ashe
1197             Aver
1425          Beaufor
1653           Bertie
1881            Blade
2109        Brunswick
2337         Buncombe
2565            Burke
2793         Cabarrus
3021         Caldwell
3249            Camde
3477          Cartere
3705          Caswell
3933          Catawba
4161          Chatham
4389         Cherokee
4617            Chowa
4845              Cla
5073        Cleveland
5301         Columbus
5529            Crave
5757       Cumberland
5985        Currituck
6213             Dare
6441           Davids
6669            Davie
             ...
16017          Pender
16245      Perquimans
16473            Pers
16701              Pi
16929            Polk
17157        Randolph
17385        Richmond
17613           Robes
17841      Rockingham
18069            Rowa
18297      Rutherford
18525           Samps
18753        Scotland
18981           Stanl
19209          Stokes
19437            Surr
19665            Swai
19893    Transylvania
20121         Tyrrell
20349             Uni
20577           Vance
20805            Wake
21033           Warre
21261         Washing
21489         Watauga
21717           Wayne
21945          Wilkes
22173            Wils
22401           Yadki
22629           Yance
Name: CTYNAME, Length: 100, dtype: object