In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
## Let's 
raceDistribution = pd.read_csv('/Users/eve65/HackDTech/pikapixels/data_sets/cc-est2019-alldata-37.csv')
raceDistribution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22800 entries, 0 to 22799
Data columns (total 80 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SUMLEV        22800 non-null  int64
 1   STATE         22800 non-null  int64
 2   COUNTY        22800 non-null  int64
 3   STNAME        22800 non-null  object
 4   CTYNAME       22800 non-null  object
 5   YEAR          22800 non-null  int64
 6   AGEGRP        22800 non-null  int64
 7   TOT_POP       22800 non-null  int64
 8   TOT_MALE      22800 non-null  int64
 9   TOT_FEMALE    22800 non-null  int64
 10  WA_MALE       22800 non-null  int64
 11  WA_FEMALE     22800 non-null  int64
 12  BA_MALE       22800 non-null  int64
 13  BA_FEMALE     22800 non-null  int64
 14  IA_MALE       22800 non-null  int64
 15  IA_FEMALE     22800 non-null  int64
 16  AA_MALE       22800 non-null  int64
 17  AA_FEMALE     22800 non-null  int64
 18  NA_MALE       22800 non-null  int64
 19  NA_FEMALE     22800 non-null  int64
 20  TOM_MALE      22800 non-null  int64
 21  TOM_FEMALE    22800 non-null  int64
 22  WAC_MALE      22800 non-null  int64
 23  WAC_FEMALE    22800 non-null  int64
 24  BAC_MALE      22800 non-null  int64
 25  BAC_FEMALE    22800 non-null  int64
 26  IAC_MALE      22800 non-null  int64
 27  IAC_FEMALE    22800 non-null  int64
 28  AAC_MALE      22800 non-null  int64
 29  AAC_FEMALE    22800 non-null  int64
 30  NAC_MALE      22800 non-null  int64
 31  NAC_FEMALE    22800 non-null  int64
 32  NH_MALE       22800 non-null  int64
 33  NH_FEMALE     22800 non-null  int64
 34  NHWA_MALE     22800 non-null  int64
 35  NHWA_FEMALE   22800 non-null  int64
 36  NHBA_MALE     22800 non-null  int64
 37  NHBA_FEMALE   22800 non-null  int64
 38  NHIA_MALE     22800 non-null  int64
 39  NHIA_FEMALE   22800 non-null  int64
 40  NHAA_MALE     22800 non-null  int64
 41  NHAA_FEMALE   22800 non-null  int64
 42  NHNA_MALE     22800 non-null  int64
 43  NHNA_FEMALE   22800 non-null  int64
 44  NHTOM_MALE    22800 non-null  int64
 45  NHTOM_FEMALE  22800 non-null  int64
 46  NHWAC_MALE    22800 non-null  int64
 47  NHWAC_FEMALE  22800 non-null  int64
 48  NHBAC_MALE    22800 non-null  int64
 49  NHBAC_FEMALE  22800 non-null  int64
 50  NHIAC_MALE    22800 non-null  int64
 51  NHIAC_FEMALE  22800 non-null  int64
 52  NHAAC_MALE    22800 non-null  int64
 53  NHAAC_FEMALE  22800 non-null  int64
 54  NHNAC_MALE    22800 non-null  int64
 55  NHNAC_FEMALE  22800 non-null  int64
 56  H_MALE        22800 non-null  int64
 57  H_FEMALE      22800 non-null  int64
 58  HWA_MALE      22800 non-null  int64
 59  HWA_FEMALE    22800 non-null  int64
 60  HBA_MALE      22800 non-null  int64
 61  HBA_FEMALE    22800 non-null  int64
 62  HIA_MALE      22800 non-null  int64
 63  HIA_FEMALE    22800 non-null  int64
 64  HAA_MALE      22800 non-null  int64
 65  HAA_FEMALE    22800 non-null  int64
 66  HNA_MALE      22800 non-null  int64
 67  HNA_FEMALE    22800 non-null  int64
 68  HTOM_MALE     22800 non-null  int64
 69  HTOM_FEMALE   22800 non-null  int64
 70  HWAC_MALE     22800 non-null  int64
 71  HWAC_FEMALE   22800 non-null  int64
 72  HBAC_MALE     22800 non-null  int64
 73  HBAC_FEMALE   22800 non-null  int64
 74  HIAC_MALE     22800 non-null  int64
 75  HIAC_FEMALE   22800 non-null  int64
 76  HAAC_MALE     22800 non-null  int64
 77  HAAC_FEMALE   22800 non-null  int64
 78  HNAC_MALE     22800 non-null  int64
 79  HNAC_FEMALE   22800 non-null  int64
dtypes: int64(78), object(2)
memory usage: 13.9+ MB

In [4]:
raceDistribution.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,37,1,North Carolina,Alamance County,1,0,151131,71890,79241,...,7202,6823,566,580,962,912,101,94,26,41
1,50,37,1,North Carolina,Alamance County,1,1,9524,4846,4678,...,961,941,96,109,116,141,20,19,3,7
2,50,37,1,North Carolina,Alamance County,1,2,9889,5126,4763,...,897,859,84,71,122,130,14,14,1,3
3,50,37,1,North Carolina,Alamance County,1,3,10008,5078,4930,...,726,725,52,60,119,89,7,8,2,3
4,50,37,1,North Carolina,Alamance County,1,4,11100,5412,5688,...,581,596,44,44,80,81,7,5,3,4